@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/z-index';
@import '/shared/styles/vars/colors';
@import '/shared/styles/vars/border';

.filter {
  position: relative;

  border: 1px solid;
  border-color: $primary;
  border-radius: $border-radius;

  z-index: $z-index-content;

  padding: $indent-1 $indent-2;

  color: #7D7D7D; 

  &--active {
    border-color: transparent;
  }

  &__header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $gap-1;

    cursor: pointer;

    &--active {
      opacity: 0;
    }
  }

  &__heading {
    grid-column: 2;
  }

  &__image {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &--active img {
      transform: rotate(180deg);
    }
  }

  &__content {
    position: absolute;

    top: 0;
    left: 0;
    transform: translate(-1px, -1px);

    width: calc(100% + 2px);

    cursor: auto;

    z-index: $z-index-controls;

    padding: $indent-1 $indent-2;

    border: 1px solid $primary;
    border-radius: $border-radius;

    background: #9A9A9A;
    color: $black;
  }
}