@import '/shared/styles/mixins/media';
@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/colors';
@import '/shared/styles/vars/z-index';

.carousel {
  margin-top: $indent-1;

  &__main {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: $indent-5;
  }

  &__picture {
    position: relative;

    height: 440px;

    @include small-tablet {
      height: 320px;
      
      grid-column: 3 span;
    }
  }

  &__image {
    object-fit: contain;
    object-position: center;

    @include small-tablet {
      object-fit: cover;
    }
  }

  &__controls {
    margin: $indent-3 0 $indent-4;
    overflow: hidden;
  }

  &__dots {
    display: flex;
    gap: 76px;
    list-style-type: none;
    overflow-x: auto;

    @include small-tablet {
      gap: 33px;
    }
  }

  &__dot {
    position: relative;
    height: 128px;
    width: 184px;
    flex-shrink: 0;

    @include small-tablet {
      width: 84px;
      height: 60px; 
    }
  }

  &__preview {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: grid;
    align-items: center;
    justify-items: center;

    background-color: $white;

    z-index: $z-index-modal;

    grid-template-columns: auto 1fr;

    @include small-tablet {
      grid-template-columns: 1fr;
    }
  }

  &__preview-container {
    width: clamp(375px, 100%, 800px);
  }

  &__preview-close {
    position: fixed;

    right: 15px;
    top: 15px;

    cursor: pointer;
    user-select: none;

    font-size: 2rem;
  }

  &__preview-dots {
    @include small-tablet {
      grid-row: 2;
    }
    & ul {
      flex-direction: column;

      @include small-tablet {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}
