@import '/shared/styles/mixins/media';
@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/colors';
@import '/shared/styles/vars/border';

.info {
  font-size: 1.375rem;
  letter-spacing: 0.06875rem;

  &__price {
    font-size: 2.625rem;
    margin-left: $indent-5;
  }

  &__block {
    margin-top: $indent-2;

    @include small-tablet {
      margin: 0 auto;
    }
  }

  &__properties {
    cursor: pointer;
  }

  &__property {
    font-size: 0.75rem; 
  }

  &__list {
    list-style-position: inside;

    &--hidden {
      opacity: 0;
    }
  }

  &__sizes {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    gap: $gap-3;

    font-size: 0.75rem; 
    text-align: center;

    margin-top: $indent-2;
    margin-left: $indent-2;
  }

  &__controls {
    display: flex;
    gap: $indent-4;

    margin-top: $indent-2;

    text-transform: uppercase;
    font-size: 0.75rem;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__link {
    border-radius: $border-radius;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 $indent-5;

    @include small-tablet {
      padding: $indent-1 $indent-5;
    }
  }

  &__arrow {
    margin-left: $indent-3;
  }

  &__size {
    cursor: pointer;

    &--selected {
      color: $primary;
    }

    &--disabled {
      color: $gray-dark;
      cursor: not-allowed;

      user-select: none;
    }
  }
}