@import '/shared/styles/vars/indent';

.property-filter {
  list-style-type: none;

  &__item {
    border-bottom: 1px solid #38323275;

    margin-top: $indent-2;

    cursor: pointer;

    &:last-child {
      margin-bottom: $indent-2;
    }
  }
}