@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/colors';
@import '/shared/styles/vars/border';

.products {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $gap-4;

  &__item {
    grid-column: 3 span;

    border: 2px solid $black;

    display: flex;
    flex-direction: column;

    cursor: pointer;
  }

  &__picture {
    min-height: 360px;
    position: relative;
    overflow: "hidden"
  }

  &__image {
    border-bottom: 2px solid $black;
  }

  &__info {
    padding: $indent-3;
  }

  &__name {
    font-weight: 700;
  }
}