@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/colors';
@import '/shared/styles/vars/border';

.products {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $gap-4;

  &__item {
    grid-column: 3 span;

    border: 2px solid $black;

    display: flex;
    flex-direction: column;

    cursor: pointer;
  }

  &__picture {
    min-height: 312px;
    position: relative;
    overflow: hidden;
  }

  &__image {
    border-bottom: 2px solid $black;
    object-fit: cover;
    object-position: center;
  }

  &__info {
    padding: $indent-3 $indent-4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap-4;
    align-items: flex-start;
  }

  &__name {
    font-size: 1.125rem;
    grid-column: 2 span;
  }

  &__price {
    display: flex;
    justify-content: space-between;
  }

  &__price-value {
    display: flex;
    flex-direction: column;
  }
}