@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/colors';
@import '/shared/styles/vars/border';
@import '/shared/styles/mixins/media';

.products {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $gap-4;

  @include small-tablet {
    gap: $gap-2;
  }

  &__item {
    grid-column: 3 span;

    @include small-tablet {
      grid-column: 6 span;
    }
  }

  &__container {
    border: 2px solid $black;

    display: flex;
    flex-direction: column;

    background-color: #201D1B0F;
  }

  &__picture {
    min-height: 312px;
    position: relative;
    overflow: hidden;

    @include small-tablet {
      min-height: 144px;
    }
  }

  &__image {
    border-bottom: 2px solid $black;
    object-fit: cover;
    object-position: center;
  }

  &__info {
    padding: $indent-3 $indent-4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap-4;
    align-items: flex-start;

    @include small-tablet {
      gap: $gap-1;
      padding: $indent-1;
    }
  }

  &__name {
    font-size: 1.125rem;
    grid-column: 2 span;

    @include small-tablet {
      font-size: 0.75rem;
    }
  }

  &__article {
    @include small-tablet {
      grid-column: 2 span;

      font-size: 0.625rem;
      color: #4B4B4B;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;

    @include small-tablet {
      grid-column: 2 span;
      font-size: 0.75rem; 
    }
  }
}