@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/colors';

.nav {
  display: flex;
  flex-direction: row;
}

.nav-list {
  gap: $gap-3;

  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-item {
  &:hover {
    color: $primary;
  }
}