@import '/shared/styles/vars/colors';
@import '/shared/styles/vars/indent';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: $indent-4;

  color: $white;
  background-color: $black;
}