@import '/shared/styles/vars/indent';
@import "/shared/styles/vars/border";
@import "/shared/styles/vars/colors";

.product {
  gap: $gap-2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  &__main {
    grid-column: 8 span;
  }

  &__additional {
    grid-column: 4 span;
  }

  &__main, &__additional {
    border: 1px solid $white;
    border-radius: $border-radius;

    padding: $indent-2;

    & fieldset {
      border: 1px solid $white;
      border-radius: $border-radius;

      padding: $indent-1 $indent-2;

      display: flex;
      flex-direction: column;

      margin-bottom: $indent-2;

      & legend {
        margin-left: $indent-2;
      }
    }
  }
}