@import '/shared/styles/mixins/containers';
@import '/shared/styles/mixins/media';
@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/colors';

.product {
  gap: $gap-2;
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;

  @include small-tablet {
    grid-template-columns: 1fr;
  }

  &__image-container {
    min-height: 400px;
    position: relative;

    @include small-tablet {
      min-height: 200px;
    }
  }

  &__image {
    object-fit: contain;
    object-position: center;
  }

  &__info {
    font-size: 1.5rem; 
  }

  &__paragraph {
    &:not(:first-child) {
      margin-top: $indent-2;
    }
  }

  &__controls {
    user-select: none;
    cursor: pointer;

    color: $primary;
    background-color: transparent;

    outline: none;
    border: none;

    font-size: inherit;
  }
}