@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/colors';
@import '/shared/styles/vars/border';
@import '/shared/styles/vars/z-index';

.burger-menu {
  &__icon {
    cursor: pointer;

    &--active {
      transform: rotate(90deg) translateY(30%);
    }
  }

  &__header {
    position: relative;
  }

  &__sidebar {
    position: fixed;

    top: 0;
    left: 0;

    z-index: $z-index-sidebar;

    width: clamp(100px, 40%, 400px);
    height: 100%;

    border-radius: 0 $border-radius $border-radius 0;

    background-color: $secondary;

    padding: $indent-1 $indent-5;
  }

  &__list {
    list-style-type: none;

    display: flex;
    flex-direction: column;

    gap: $gap-1;
    
    color: $white;
  }

  &__item {
    border-bottom: 1px solid #FFFFFF1A;

    padding: $indent-2 $indent-2 $indent-1;

    &:first-child {
      display: flex;
      align-items: center;
    }
  }
}