@import '/shared/styles/mixins/containers';
@import '/shared/styles/mixins/media';
@import '/shared/styles/vars/colors';
@import '/shared/styles/vars/indent';

.footer {
  grid-area: footer;

  background: linear-gradient(180deg, #343333 0%, #7D7D7D 100%);

  display: flex;
  justify-content: center;

  padding: $indent-4 0;
  margin-top: $indent-section;

  @include small-tablet {
    padding: $indent-1 0 $indent-4;
  }

  &__container {
    @include site-container;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__company-info {
    color: $white;

    font-size: 0.8rem;

    text-align: center;

    @include small-tablet {
      font-size: 1rem;
    }
  }

  &__images {
    left: 0;
    position: absolute;

    @include small-tablet {
      position: initial !important;

      margin-bottom: $indent-1;

      display: flex;
      gap: $gap-2;
    }
  }
}