@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/colors';
@import '/shared/styles/mixins/containers';
@import '/shared/styles/mixins/media';

.header {
  grid-area: header;

  background-color: #65656521;

  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    @include site-container;

    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include small-tablet {
      padding: 0 $indent-3;
    }
  }
}