@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/viewport';
@import '/shared/styles/vars/colors';
@import '/shared/styles/vars/border';

.search {
  position: relative;
  width: clamp(50px, 100%, 388px);

  &__input {
    padding: 16px 48px 16px 56px;

    width: 100%;

    border-radius: $border-radius;
    border: none;
    outline: none;

    background-color: #B8B4B447;

    font-family: inherit;

    &::-ms-input-placeholder,
    &::placeholder {
      color: $black;

      font-family: inherit;
    }
  }
  &__icon-go, &__icon-magnifier {
    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    cursor: pointer;
  }

  &__icon-magnifier {
    left: 16px;
  }

  &__icon-go {
    right: 24px;
  }
}