@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/viewport';
@import '/shared/styles/vars/colors';
@import '/shared/styles/vars/border';
@import '/shared/styles/vars/z-index';

.search {
  position: relative;
  width: clamp(50px, 100%, 388px);

  &__input {
    padding: 16px 48px 16px 56px;

    width: 100%;

    border-radius: $border-radius;
    border: none;
    outline: none;

    background-color: #B8B4B447;

    font-family: inherit;
    color: inherit;

    &::-ms-input-placeholder,
    &::placeholder {
      color: inherit;

      font-family: inherit;
    }
  }
  &__icon-go, &__icon-magnifier {
    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    cursor: pointer;
  }

  &__icon-magnifier {
    left: 16px;
  }

  &__icon-go {
    right: 24px;
  }

  &__list {
    position: absolute;

    top: 100%;
    left: 0;
    transform: translateY(-48px);

    width: 100%;

    z-index: $z-index-search;

    list-style-type: none;

    background-color: #B8B4B447;

    padding: 64px 48px 16px 56px;

    font-size: 0.75rem;

    border-radius: $border-radius; 

    display: flex;
    gap: $gap-3;

    &--row {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__remove-icon {
    cursor: pointer;
    margin-left: $indent-1;
  }
}