@import '/shared/styles/vars/indent';
@import '/shared/styles/mixins/containers';
@import '/shared/styles/mixins/media';

.contacts {
  font-size: 1.375rem;
  font-weight: 400;

  line-height: 2.5rem;
  letter-spacing: 0.06875rem; 

  @include site-container;
  margin: $indent-section auto 0;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: $gap-4;

  @include small-tablet {
    line-height: initial;
  }

  &__info {
    display: flex;
    justify-content: flex-end;

    @include small-tablet {
      justify-content: center;
      grid-column: 2 span;
    }
  }

  &__text {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include small-tablet {
      width: 100%;
    }
  }

  &__work-time {
    @include small-tablet {
      margin-top: $indent-3;
    }
  }

  &__map {
    position: relative;

    width: 573px;
    height: 366px;

    @include small-tablet {
      grid-column: 2 span;

      width: 298px;
      height: 188px;

      margin-top: $indent-5;
    }
  }
}