@import '/shared/styles/vars/indent';
@import '/shared/styles/mixins/containers';

.about-us {
  @include site-container;
  margin: 0 auto;

  font-weight: 700;
  text-align: center;

  margin-top: $indent-section;

  &__paragraph {
    width: 38%;

    margin: $indent-2 auto 0;
  }
}