@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/colors';
@import '/shared/styles/vars/border';
@import '/shared/styles/mixins/media';

.employers {
  margin-top: $indent-section;

  &__heading  {
    text-align: center;

    font-weight: 700;
    font-size: 2.625rem;

    @include small-tablet {
      font-size: 1.375rem;
    }
  }

  &__container {
    margin: 3.6rem auto 0;

    position: relative;

    @include small-tablet {
      margin-top: $indent-1;
    }
  }

  &__borders {
    position: absolute;

    width: 200%;
    height: 100%;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    border: 1px solid $black;
    border-radius: 80%;
  }

  &__list {
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
  }

  &__item {
    position: relative;

    border: 2px solid $black;

    @include small-tablet {
      height: 415px;
      width: 100%;

      flex-shrink: 0;
    }

    @include for-desktop {
      &:nth-child(odd) {
        width: 30%;
        height: 556px;
      }
  
      &:nth-child(even) {
        width: 33%;
        height: 600px;
      }
    }
  }

  &__image {
    object-fit: cover;
    object-position: center;
  }

  &__description {
    position: absolute;

    left: 0;
    bottom: 0;

    height: 18%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: $white;
    font-size: 1.375rem; 

    backdrop-filter: blur(15px);

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 50px;
  }

  &__name {
    font-weight: bold;
  }
}