@import '/shared/styles/vars/indent';

.hero {
  width: 100vw;
  overflow-x: hidden;

  &__viewport {
    display: flex;
    
    gap: 20px;

    list-style-type: none;

    width: 80%;
    margin: 0 auto;
  }

  &__slide {
    position: relative;
    width: 1440px;
    height: 900px;

    flex-shrink: 0;
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}