@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/colors';

.input {
  border: 1px solid $black;
  outline: none;

  width: 100%;

  font-family: inherit;

  padding: $indent-1 $indent-2;
}