@import '/shared/styles/vars/indent';
@import '/shared/styles/vars/colors';
@import '/shared/styles/mixins/media';

.info {
  &__container {
    font-size: 1.2rem;

    width: 70%;

    border: 1px solid $black;

    padding: $indent-2 $indent-4;

    @include small-tablet {
      width: 100%;
    }
  }

  &__text:not(:last-child) {
    margin-bottom: $indent-2;
  }
}