@import '/shared/styles/vars/indent';
@import '/shared/styles/mixins/media';


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: $gap-4;

  &__label {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $gap-1;

    width: 50%;

    font-size: 1.625rem;
    
    @include small-tablet {
      width: 100%;
      grid-template-columns: 1fr;
    }
  }

  &__input {
    grid-column: 3 span;

    @include small-tablet {
      grid-column: 1 span;
    }
  }

  &__error {
    color: red;

    grid-column: 4 span;
    font-size: 1rem;

    @include small-tablet {
      grid-column: 1 span;
    }
  }

  &__button-section {
    margin-top: $indent-3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $gap-3;

    width: 100%;
  }

  &__link {
    width: 50%;
    font-size: 2.25rem; 
    padding: $indent-1 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $indent-1;

    &:not(:first-child) {
      margin-top: $indent-2;
    }

    @include small-tablet {
      width: 100%;
      padding: $indent-2 $indent-1;
      font-size: 1.25rem; 
    }
  }
}