@import '/shared/styles/vars/indent';
@import '/shared/styles/mixins/media';


.cart {
  position: sticky;
  top: $indent-2;

  &__inputs {
    padding: $indent-4;
  }

  &__label {
    display: block;
    font-size: 1rem;

    &:not(:first-child) {
      margin-top: $indent-2;
    }
  }

  &__total {
    margin-top: $indent-4;
    display: flex;
    justify-content: space-between;
  }

  &__controls {
    margin-top: $indent-4;
  }

  &__buy {
    width: 100%;
  }
}